<% include ./head %>
<body>
<% include ./header %>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <% if (clientData == null) { %>
      <div class="alert alert-info" role="alert">No clients details found</div>
    <% } else {  %>
      <h3><%= clientData.CLIENT_NAME %></h3>
      <div class="card">
        <div class="card-body">
           <div class="table-responsive">
             <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
               <thead class="thead-light">
                <tr>
                  <th>Client</th>
                  <th>Client ID</th>
                  <th>Environment</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                  <td><a href="/client/details/<% if (clientData.ENVIRONMENT == 'UAT') {%>[UAT]<%}%><%= clientData.CLIENT_NAME %>"><%= clientData.CLIENT_NAME %></a></td>
                  <td><%= clientData.CLIENT_ID %></td>
                  <td><%= clientData.ENVIRONMENT %></td>
                </tr>
              </tbody>
              </table>                   

              <h4>ASCEND Delivery Mappings</h4>
              <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-light">
                 <tr>
                   <th>#</th>
                   <th>Delivery Method</th>
                   <th>Destination Location</th>
                   <th>STS Intermediate S3 path</th>
                   <th>Profile Name</th>
                   <th>DSN Name</th>
                 </tr>
                </thead>
                <tbody>
 
              <% if (clientData.ASCEND_DELIVERY_MAPPING) 
                {  clientData.ASCEND_DELIVERY_MAPPING.forEach(function(deliveryMapping, i) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= deliveryMapping.DELIVER_METHOD %></td>
                  <td><%= deliveryMapping.DESTINATION_LOCATION %></td>
                  <td><%= deliveryMapping.STS_INTERMEDIATE_S3_PATH %></td>
                  <td><%= deliveryMapping.PROFILE_NAME %></td>
                  <td><%= deliveryMapping.DSN_NAME %></td>
                </tr>
              <% });  
               } %>
              </tbody>
            </table>            
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#MappingModalForm" data-clientId="<%= clientData.CLIENT_ID %>">
                New delivery mapping
            </button>
          </div>
        </div>
      </div>

      <!-- Modal HTML Markup -->
<div id="MappingModalForm" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">ASCEND Delivery Mapping</h3>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="/client/createClientsDeliveryMapping" id="deliveryMappingForm">
                    <input type="hidden" name="_token" value="">
                    <input type="hidden" name="clientId" value="<%= clientData.CLIENT_ID %>">
                    <input type="hidden" name="clientName" value="<% if (clientData.ENVIRONMENT == 'UAT') {%>[UAT]<%}%><%= clientData.CLIENT_NAME %>">
                    <div class="form-group">
                        <label class="control-label">Environment</label>
                        <div>
                            <select class="form-control" name="environmentSelect" id="environmentSelect">
                                <option>Prod</option>
                                <option>UAT</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Delivery Method</label>
                        <div>
                            <select class="form-control" name="methodSelect" id="methodSelect">
                                <option selected value="1">S3</option>
                                <option value="2">STS</option>
                                <option value="3">CONNECT_DIRECT</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Destination Location</label>
                        <div><input type="text" class="form-control input-lg" name="destination" required></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">STS Intermediate S3 path</label>
                        <div><input type="text" class="form-control input-lg" name="stsPath"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Profile Name</label>
                        <div><input type="text" class="form-control input-lg" name="profileName"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">DSN Name</label>
                        <div><input type="text" class="form-control input-lg" name="dsnName"></div>
                    </div>                                        

                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-dark">Submit</button>
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <div id="messages"></div>
                        </div>
                    </div>                    
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

      <% } %>
  </main>


<% include ./footer %>

<script>
$('#MappingModalForm').on('hidden.bs.modal', function(event){
    $(this).find('form')[0].reset();
});

</script>
</body>
</html>